
mat-form-field {
    width: 60%;
}

.form-center {
    text-align: center;
    max-width: 40em;
    margin: 5em auto 0 auto;
}

.title {
    margin: 1em;
    font-size: 2em;
    display: block;
    text-align: center;
}