

.main {
    min-height: 100vh;
}
.homepage-welcome {
    margin-bottom: 3em;
}
.homepage-news {
    margin-top: 3em;
    margin-bottom: 3em;
}
.sub-title {
    width: 100%;
    height: 10em;
    background-color: rgb(160, 160, 160);
}