
.carousel-welcome {
    max-width: 120vh;
    margin: 0 auto;
}
.carousel-image img {
    width: 100%;
    margin-bottom: -4px;
    object-fit: cover;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

