
.dialog-title {
    text-align: center;
}
.dialog-form {
    width: 80%;
    margin: 0 auto;
}
.dialog-image {
    width: 100%;
    border: 1px solid black;
}
.image {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}
.dialog-form-field {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.dialog-button-action {
    justify-content: center;
}