
.dialog-title {
    text-align: center;
}
.dialog-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}
.dialog-button-action {
    justify-content: center;
}
.image-container {
    margin: 1em;
}
.image {
    width: 100%;
    margin: 0 auto;
}