
<h2 mat-dialog-title class="title">Add Product</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <mat-form-field appearance="legacy">
            <mat-label>Nom</mat-label>
            <input matInput id="name" name="name" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Fabricant</mat-label>
            <input matInput id="fabricant" name="fabricant" formControlName="fabricant">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Type</mat-label>
            <mat-select name="type" formControlName="type">
              <mat-option *ngFor="let productType of productTypes" [value]="productType.id">
                {{productType.type}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Longueur</mat-label>
            <input matInput id="longueur" name="longueur" formControlName="longueur">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Diamètre</mat-label>
            <input matInput id="diametre" name="diametre" formControlName="diametre">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Taille</mat-label>
            <input matInput id="taille" name="taille" formControlName="taille">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Composition</mat-label>
            <input matInput id="composition" name="composition" formControlName="composition">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Norme</mat-label>
            <input matInput id="norme" name="norme" formControlName="norme">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="button-action">
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
</form>