

<div class="main">
    <div class="card-container">
        <div *ngFor="let product of products | slice:((paginator.pageIndex)*paginator.pageSize):((paginator.pageIndex+1)*paginator.pageSize)">
            <mat-card class="card-main">
        
                <mat-card-header class="card-header">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>Type : {{product.type}}</mat-card-subtitle>
                </mat-card-header>
            
                <div class="card-image">
                    <img class="image" mat-card-xl-image src="{{getImageFromAPI(product)}}" alt="{{ product.name }}">
                </div>
            
                <mat-card-content class="card-content">
                    <p>Fabricant : {{product.fabricant}}</p>
                    <p>Longueur : {{product.longueur}}</p>
                    <p>Diamètre : {{product.diametre}}</p>
                    <p>Taille : {{product.taille}}</p>
                    <p>Composition : {{product.composition}}</p>
                    <p>Norme : {{product.norme}}</p>
                </mat-card-content>
            
                <mat-card-actions *ngIf="currentUser" class="card-button-action">
                    <button mat-raised-button color="primary" (click)="openDialog(product)"><mat-icon class="action-icon">edit</mat-icon>Update</button>
                    <button mat-raised-button color="warn" (click)="deleteProduct(product)"><mat-icon class="action-icon">delete</mat-icon>DELETE</button>
                </mat-card-actions>
            
            </mat-card>
        </div>
    </div>
</div>
<mat-paginator #paginator
    [length]="products?.length"
    [pageSize]="8"
    [pageSizeOptions]="[8, 16, 32, 64]"
    class="paginator">
>
</mat-paginator>