

.main {
    min-height: 100vh;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, max-content));
    grid-gap: 3em;
    justify-content: center;
    margin: 3em auto;
}
.paginator {
    margin-top:auto;
}
.card-main {
    width: 320px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.action-icon {
    margin-right: 0.2em;
}
.card-image {
    width: 100%;
    border: 1px solid black;
}
.image {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}
.card-content {
    margin-top: 1em;
}
.card-button-action {
    text-align: center;
}